body {
    font-family: sans-serif;
    margin: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

form select,
form button {
    padding: 5px;
}
